<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <header><h1>Cricket Players Database</h1></header>
    <%- include('partials/nav') %>
    <main><%- body %></main>
    <footer><p>Project 2 • MongoDB + Express + EJS</p></footer>
  </body>
</html>
